[submodule ".vim/bundle/ghcmod-vim.git"]
	path = .vim/bundle/ghcmod-vim.git
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule ".vim/bundle/nerdtree.git"]
	path = .vim/bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-easymotion.git"]
	path = .vim/bundle/vim-easymotion.git
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/vim-powerline.git"]
	path = .vim/bundle/vim-powerline.git
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-fugitive.git"]
	path = .vim/bundle/vim-fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/syntastic.git"]
	path = .vim/bundle/syntastic.git
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/html5.vim"]
	path = .vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule ".vim/bundle/vim-rails.git"]
	path = .vim/bundle/vim-rails.git
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-bundler.git"]
	path = .vim/bundle/vim-bundler.git
	url = https://github.com/tpope/vim-bundler.git
